#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  listmonk-app.service
BindsTo=listmonk.service
After=listmonk.service postgresql-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/listmonk-app.pid %t/listmonk-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/listmonk-app.pid \
    --cidfile %t/listmonk-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/listmonk.pod-id --replace -d --name  listmonk-app \
    --volume %S/bin/config.tml:/config.yml:Z \
    --env-file=%S/state/listmonk-db.env \
    --env-file=%S/state/listmonk.env \
    ${LISTMONK_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/listmonk-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP listmonk-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/listmonk-app.ctr-id
PIDFile=%t/listmonk-app.pid
Type=forking

[Install]
WantedBy=default.target
